#year-born {
	padding-left: 0;
}
.unit {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: green;
	margin: 2px;
}
.gray {
	background: gray;
}

.red {
	background: red;
}
.section-title {

}

.life-in {

}

.unit-of-time .active {
	font-weight: bold;
}

.unit.small {
	width: 10px;
	height: 10px;
}

.unit.micro {
	width: 3px;
	height: 3px;
	margin: 2px;
}